body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Nobile;
  color: rgb(0, 0, 0);
}

.background {
  position: relative;
  float: left;
  z-index: 1;
  width: 100%;
  height: 350px;
  background: url('../images/landing_img.png') rgb(255, 255, 255);
  background-size: cover;
  background-position: center center;
}

.menu_bar {
  float: left;
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 0);
}

.summary {
  float: left;
  clear: both;
  width: 80%;
  margin: 25px 0 0 10%;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.summary p {
  margin-bottom: 1em;
}

._button {
  display: block;
  float: left;
  width: 11.6666666666%;
  height: 32px;
  margin-top: 7px;
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  font-size: 1.375em;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 254, 254);
}

._button:hover {
  color: rgb(0, 106, 255);
}

._text {
  position: relative;
  float: left;
  clear: both;
  z-index: 9;
  width: 99.5833333333%;
  min-height: 60px;
  margin-top: -341px;
  font-family: Oswald;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  color: rgb(0, 0, 0);
}

.menu_bar ._button-1 {
  margin-left: 10%;
}

.menu_bar ._button-3 {
  margin-left: 2.33073%;
}

.menu_bar ._button-4 {
  margin-left: 1.66406%;
}

.menu_bar ._button-2,
.menu_bar ._button-5,
.menu_bar ._button-6 {
  margin-left: 2%;
}

@media(max-width: 900px) {
  .background {
    position: relative;
    z-index: 1;
  }

  .menu_bar {
    position: relative;
    z-index: 8;
  }

  .summary {
    position: relative;
    z-index: 0;
  }

  ._text {
    position: relative;
    z-index: 9;
  }

  .menu_bar ._button {
    position: relative;
    font-size: 0.875em;
  }

  .menu_bar ._button-1 {
    z-index: 2;
  }

  .menu_bar ._button-2 {
    z-index: 3;
  }

  .menu_bar ._button-3 {
    z-index: 4;
    margin-left: 2%;
  }

  .menu_bar ._button-4 {
    z-index: 5;
    margin-left: 2%;
  }

  .menu_bar ._button-5 {
    z-index: 6;
  }

  .menu_bar ._button-6 {
    z-index: 7;
  }
}

@media(max-width: 480px) {
  body {
    font-size: 1em;
  }

  .background {
    position: relative;
    z-index: 1;
    height: 225px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .menu_bar {
    position: fixed;
    float: none;
    top: 198px;
    left: 2.0833333333%;
    width: 15%;
    height: 175px;
    border-radius: 5px;
  }

  .summary {
    position: relative;
    clear: none;
    z-index: 0;
    width: 77.0833333333%;
    margin-top: 0;
    margin-left: 19.58008%;
  }

  ._text {
    position: relative;
    z-index: 9;
    width: 100%;
    margin-top: -215px;
    margin-left: -1.0416700001%;
  }

  .menu_bar ._button {
    position: relative;
    width: 93.4426229508%;
    margin-left: 3.21181%;
    font-size: 0.75em;
  }

  .menu_bar ._button-1 {
    z-index: 2;
  }

  .menu_bar ._button-2 {
    clear: both;
    z-index: 3;
    margin-top: -6px;
  }

  .menu_bar ._button-3 {
    clear: both;
    z-index: 4;
    margin-top: -7px;
  }

  .menu_bar ._button-4 {
    clear: both;
    z-index: 5;
    margin-top: -6px;
  }

  .menu_bar ._button-5 {
    clear: both;
    z-index: 6;
    margin-top: -7px;
  }

  .menu_bar ._button-6 {
    clear: both;
    z-index: 7;
    margin-top: -6px;
  }
}

@media(max-width: 230px) {
  .background {
    position: relative;
    z-index: 1;
    height: 145px;
  }

  .menu_bar {
    top: 157px;
    left: 1%;
    width: 26.5217391304%;
  }

  .summary {
    position: relative;
    z-index: 0;
    width: 67.8260869565%;
    margin-top: 15px;
    margin-left: 29.11685%;
  }

  ._text {
    position: relative;
    z-index: 9;
    margin-top: -136px;
    margin-left: 0;
  }

  .menu_bar ._button {
    position: relative;
    margin-left: 3.17623%;
  }

  .menu_bar ._button-1 {
    z-index: 2;
  }

  .menu_bar ._button-2 {
    z-index: 3;
  }

  .menu_bar ._button-3 {
    z-index: 4;
  }

  .menu_bar ._button-4 {
    z-index: 5;
  }

  .menu_bar ._button-5 {
    z-index: 6;
  }

  .menu_bar ._button-6 {
    z-index: 7;
  }
}