body {
  background-color: rgb(255, 255, 255);
  font: 400 1.375em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 23;
  width: 100%;
  height: 204px;
  background-color: rgb(255, 255, 255);
}

.glenn {
  position: relative;
  float: left;
  clear: both;
  z-index: 3;
  width: 15%;
  height: 175px;
  margin: 50px 0 0 7.125%;
  background: url('../images/Glenn_round.png') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.glennresearch {
  position: relative;
  float: left;
  z-index: 2;
  width: 69.9986979166%;
  min-height: 168px;
  margin: 50px 0 0 1.9987%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.hayden {
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 15%;
  height: 175px;
  margin: 50px 0 0 7.125%;
  background: url('../images/hayden_round.png') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.haydenresearch {
  position: relative;
  float: left;
  z-index: 0;
  width: 69.9986979166%;
  min-height: 168px;
  margin: 50px 0 0 1.9987%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.glennresearch p,
.haydenresearch p,
.kerryresearch p,
.mingziresearch p,
.thomasresearch p {
  margin-bottom: 1em;
}

.kerry {
  position: relative;
  float: left;
  z-index: 9;
  width: 15%;
  height: 175px;
  margin: 234px 0 0 7.11849%;
  background: url('../images/Kerry_round.png') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.kerryresearch {
  position: relative;
  float: left;
  z-index: 8;
  width: 70%;
  min-height: 168px;
  margin: 241px 0 0 2.00391%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.menu {
  position: absolute;
  top: 153px;
  left: 0;
  right: 0;
  z-index: 17;
  width: 85%;
  height: 27px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
}

.menu .text {
  margin-top: 2px;
  font-family: Montserrat;
  color: rgba(255, 255, 255, 0.75);
}

.menu .text:hover {
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}

.mingzi {
  position: relative;
  float: left;
  clear: both;
  z-index: 7;
  width: 15%;
  height: 175px;
  margin: 50px 0 0 7.1237%;
  background: url('../images/Mingzi_round.png') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.mingziresearch {
  position: relative;
  float: left;
  z-index: 6;
  width: 70%;
  min-height: 168px;
  margin: 50px 0 0 2%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text {
  float: left;
  font-size: 0.727em;
}

.thomas {
  position: relative;
  float: left;
  clear: both;
  z-index: 5;
  width: 15%;
  height: 175px;
  margin: 70px 0 0 7.11719%;
  background: url('../images/Thomasd_round.png') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.thomasresearch {
  position: relative;
  float: left;
  z-index: 4;
  width: 70%;
  min-height: 168px;
  margin: 70px 0 0 2.00521%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.element-1 {
  position: relative;
  float: left;
  z-index: 22;
  width: 7.5807291666%;
  height: 84px;
  margin: 20px 0 0 8.33073%;
  background-image: url('../images/singmale.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.element-2 {
  width: 90%;
  height: 2px;
  margin: 134px auto 0;
  background-color: rgb(0, 0, 0);
}

.element-3 {
  float: left;
  clear: both;
  width: 120px;
  height: 2px;
  margin: 14px 0 0 7.5%;
  background-color: rgb(255, 255, 255);
}

.element-4 {
  width: 90%;
  height: 2px;
  margin: 58px auto 0;
  background-color: rgb(0, 0, 0);
}

.text-1 {
  position: relative;
  z-index: 21;
  margin: 35px 0 0 0.96875%;
  color: rgb(0, 0, 0);
}

.text-2 {
  margin-left: 2.05576%;
}

.text-6 {
  margin-left: 3.62592%;
}

.text-3,
.text-4,
.text-5,
.text-7,
.text-8 {
  margin-left: 3.52788%;
}

.glennresearch span,
.haydenresearch span,
.kerryresearch span,
.mingziresearch span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: italic;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.kerryresearch a,
.kerryresearch em,
.mingziresearch a,
.mingziresearch em {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.kerryresearch strong,
.mingziresearch strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: none;
  text-decoration: none;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: Raleway;
  font-style: inherit;
  font-size: 2.045em;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: none;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #000000;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 a {
  font-style: italic;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

.text-2 a,
.text-3 a,
.text-4 a,
.text-5 a,
.text-6 a,
.text-7 a,
.text-8 a {
  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
}

@media(max-width: 1000px) {
  body {
    font-size: 1.125em;
  }

  .container .menu {
    top: 130px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .glenn {
    position: relative;
    z-index: 3;
    height: 150px;
    margin-top: 84px;
    margin-left: 11.26563%;
  }

  .glennresearch {
    position: relative;
    z-index: 2;
    width: 70%;
    margin-top: 84px;
    margin-left: 2.53438%;
    font-size: 18px;
  }

  .hayden {
    position: relative;
    z-index: 1;
    height: 150px;
    margin-top: 78px;
    margin-left: 11.26563%;
  }

  .haydenresearch {
    position: relative;
    z-index: 0;
    width: 70%;
    margin-top: 78px;
    margin-left: 2.53438%;
    font-size: 18px;
  }

  .kerry {
    position: relative;
    z-index: 9;
    height: 150px;
    margin-top: 220px;
    margin-left: 11.2625%;
  }

  .kerryresearch {
    position: relative;
    z-index: 8;
    margin-top: 220px;
    margin-left: 2.5375%;
    font-size: 18px;
  }

  .menu .text {
    font-size: 0.889em;
  }

  .mingzi {
    position: relative;
    z-index: 7;
    height: 150px;
    margin-top: 92px;
    margin-left: 11.26719%;
  }

  .mingziresearch {
    position: relative;
    z-index: 6;
    margin-top: 92px;
    margin-left: 2.52969%;
    font-size: 18px;
  }

  .thomas {
    position: relative;
    z-index: 5;
    height: 150px;
    margin-top: 71px;
    margin-left: 11.26563%;
  }

  .thomasresearch {
    position: relative;
    z-index: 4;
    margin-top: 71px;
    margin-left: 2.53438%;
    font-size: 18px;
  }

  .container .element-1 {
    position: relative;
    z-index: 22;
    margin-left: 8.32969%;
  }

  .container .element-2 {
    margin-top: 115px;
  }

  .container .element-3 {
    margin-top: 11px;
    margin-left: 9%;
  }

  .container .element-4 {
    margin-top: 55px;
  }

  .container .text-1 {
    position: relative;
    z-index: 21;
    font-size: 0.889em;
  }

  .menu .text-2 {
    margin-left: 2.11765%;
  }

  .menu .text-6 {
    margin-left: 3.52574%;
  }

  .menu .text-3,
  .menu .text-4,
  .menu .text-5,
  .menu .text-7,
  .menu .text-8 {
    margin-left: 3.64706%;
  }

  .text span {
    font-size: 2.5em;
  }
}

@media(max-width: 850px) {
  body {
    font-size: 0.938em;
  }

  .container .menu {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .glenn {
    position: relative;
    z-index: 3;
    width: 14.9981617647%;
    height: 125px;
    margin-top: 25px;
    margin-left: 6.86949%;
  }

  .glennresearch {
    position: relative;
    z-index: 2;
    width: 69.9981617647%;
    margin-top: 25px;
    margin-left: 2.01103%;
    font-size: 15px;
  }

  .hayden {
    position: relative;
    z-index: 1;
    width: 14.9981617647%;
    height: 125px;
    margin-top: 25px;
    margin-left: 6.86949%;
  }

  .haydenresearch {
    position: relative;
    z-index: 0;
    width: 69.9981617647%;
    margin-top: 25px;
    margin-left: 2.01287%;
    font-size: 15px;
  }

  .kerry {
    position: relative;
    z-index: 9;
    height: 115px;
    margin-top: 218px;
    margin-left: 6.87684%;
  }

  .kerryresearch {
    position: relative;
    z-index: 8;
    width: 69.9981617647%;
    margin-top: 218px;
    margin-left: 2.00184%;
    font-size: 15px;
  }

  .menu .text {
    font-size: 1.067em;
  }

  .mingzi {
    position: relative;
    z-index: 7;
    height: 115px;
    margin-top: 25px;
    margin-left: 6.87868%;
  }

  .mingziresearch {
    position: relative;
    z-index: 6;
    margin-top: 25px;
    margin-left: 1.99449%;
    font-size: 15px;
  }

  .thomas {
    position: relative;
    z-index: 5;
    height: 115px;
    margin-top: 25px;
    margin-left: 6.87868%;
  }

  .thomasresearch {
    position: relative;
    z-index: 4;
    margin-top: 25px;
    margin-left: 2%;
    font-size: 15px;
  }

  .container .element-1 {
    position: relative;
    z-index: 22;
    margin-left: 8.3272099999%;
  }

  .container .text-1 {
    position: relative;
    z-index: 21;
    font-size: 1.067em;
  }

  .menu .text-2 {
    margin-left: 2.11289%;
  }

  .menu .text-6 {
    margin-left: 3.52509%;
  }

  .menu .text-3,
  .menu .text-4,
  .menu .text-5,
  .menu .text-7,
  .menu .text-8 {
    margin-left: 3.64187%;
  }

  .text span {
    font-size: 3em;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 0.688em;
  }

  .container .menu {
    top: 154px;
    left: 0;
    right: 0;
    width: 14%;
    height: 264px;
    margin-right: auto;
    margin-left: auto;
  }

  .glenn {
    position: relative;
    z-index: 3;
    width: 15%;
    height: 75px;
    margin-top: 5px;
    margin-left: 5.41563%;
  }

  .glennresearch {
    position: relative;
    z-index: 2;
    width: 70%;
    margin-top: 5px;
    margin-left: 2.00313%;
    font-size: 11px;
  }

  .hayden {
    position: relative;
    z-index: 1;
    width: 15%;
    height: 75px;
    margin-top: -33px;
    margin-left: 5.41563%;
  }

  .haydenresearch {
    position: relative;
    z-index: 0;
    width: 70%;
    margin-top: -33px;
    margin-left: 3.00625%;
    font-size: 11px;
  }

  .kerry {
    position: relative;
    z-index: 9;
    height: 75px;
    margin-top: 227px;
    margin-left: 5.41875%;
  }

  .kerryresearch {
    position: relative;
    z-index: 8;
    width: 70%;
    margin-top: 227px;
    margin-left: 1.99688%;
    font-size: 11px;
  }

  .menu .text {
    font-size: 1.455em;
  }

  .mingzi {
    position: relative;
    z-index: 7;
    height: 75px;
    margin-top: 5px;
    margin-left: 5.41875%;
  }

  .mingziresearch {
    position: relative;
    z-index: 6;
    margin-top: 5px;
    margin-left: 2%;
    font-size: 11px;
  }

  .thomas {
    position: relative;
    z-index: 5;
    height: 75px;
    margin-top: 5px;
    margin-left: 5.42188%;
  }

  .thomasresearch {
    position: relative;
    z-index: 4;
    margin-top: 5px;
    font-size: 11px;
  }

  .container .element-1 {
    position: relative;
    z-index: 22;
    margin-left: 8.32813%;
  }

  .container .element-2 {
    position: relative;
    float: left;
    clear: both;
    z-index: 20;
    margin-top: -19px;
    margin-right: 0;
    margin-left: 5%;
  }

  .container .element-3 {
    clear: none;
    margin-top: 6px;
    margin-left: 12%;
  }

  .container .element-4 {
    position: relative;
    float: left;
    clear: both;
    z-index: 18;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 5%;
  }

  .container .text-1 {
    position: relative;
    z-index: 21;
    margin-top: 20px;
    margin-left: 0.89375%;
    font-size: 1.455em;
  }

  .menu .text-2 {
    margin-top: 12px;
    margin-left: 2.8125%;
  }

  .menu .text-3 {
    clear: both;
    margin-left: 5.9375%;
  }

  .menu .text-6 {
    clear: both;
    margin-top: 7px;
    margin-left: 2.8125%;
  }

  .menu .text-4,
  .menu .text-5,
  .menu .text-7,
  .menu .text-8 {
    clear: both;
    margin-top: 8px;
    margin-left: 2.8125%;
  }

  .text span {
    font-size: 2.545em;
  }
}

.slicknav_menu {
display: none;
}
 @media screen and (max-width: 850px) {
.js #menu {
display: none;
}
.js .slicknav_menu {
display: block;
}