body {
  background-color: rgb(255, 255, 255);
  font: 400 1.125em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.container-2 p,
.container-3 p,
.container-4 p,
.container-5 p,
.container-6 p {
  margin-bottom: 1em;
}

.glennresearch {
  float: left;
  width: 75%;
  min-height: 138px;
  margin-left: 1.98806%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.glenn,
.hayden,
.mingzi,
.thomas {
  display: block;
  float: left;
  width: 18%;
  height: auto;
  overflow: hidden;
}

.haydenresearch {
  float: left;
  width: 75%;
  min-height: 138px;
  margin-left: 1.78163%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.kerry {
  display: block;
  float: left;
  width: 18.2926829268%;
  height: auto;
  overflow: hidden;
}

.menu {
  position: absolute;
  top: 153px;
  left: 0;
  right: 0;
  z-index: 22;
  width: 85%;
  height: 27px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
}

.menu .text {
  margin-top: 2px;
  font-family: Montserrat;
  color: rgba(255, 255, 255, 0.75);
}

.menu .text:hover {
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}

.mingziresearch {
  float: left;
  width: 75.1527494908%;
  min-height: 138px;
  margin-left: 1.96029%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text {
  float: left;
  font-size: 0.889em;
}

.kerryresearch,
.thomasresearch {
  float: left;
  width: 75%;
  min-height: 138px;
  margin-left: 2.43744%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.container-1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 28;
  width: 100%;
  height: 204px;
  background-color: rgb(255, 255, 255);
}

.container-2 {
  position: relative;
  float: left;
  z-index: 14;
  width: 82%;
  margin: 250px 0 0 8%;
}

.container-3 {
  position: relative;
  float: left;
  clear: both;
  z-index: 11;
  width: 81.8333333333%;
  margin: 43px 0 0 8%;
}

.container-4 {
  position: relative;
  float: left;
  clear: both;
  z-index: 8;
  width: 82%;
  margin: 50px 0 0 8%;
}

.container-5 {
  position: relative;
  float: left;
  clear: both;
  z-index: 5;
  width: 82%;
  margin: 50px 0 0 8%;
}

.container-6 {
  position: relative;
  float: left;
  clear: both;
  z-index: 2;
  width: 82%;
  margin: 50px 0 0 8%;
}

.element-1 {
  position: relative;
  float: left;
  z-index: 27;
  width: 7.5807291666%;
  height: 84px;
  margin: 20px 0 0 8.33073%;
  background-image: url('../images/singmale.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.element-2 {
  width: 90%;
  height: 2px;
  margin: 134px auto 0;
  background-color: rgb(0, 0, 0);
}

.element-3 {
  float: left;
  clear: both;
  width: 120px;
  height: 2px;
  margin: 14px 0 0 7.5%;
  background-color: rgb(255, 255, 255);
}

.element-4 {
  width: 90%;
  height: 2px;
  margin: 58px auto 0;
  background-color: rgb(0, 0, 0);
}

.text-1 {
  position: relative;
  z-index: 26;
  margin: 20px 0 0 0.88672%;
  color: rgb(0, 0, 0);
}

.text-2 {
  margin-left: 2.05576%;
}

.text-6 {
  margin-left: 3.62592%;
}

.text-3,
.text-4,
.text-5,
.text-7,
.text-8 {
  margin-left: 3.52788%;
}

.glennresearch span,
.haydenresearch span,
.kerryresearch span,
.mingziresearch span,
.thomasresearch span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: italic;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.glennresearch a,
.glennresearch strong,
.haydenresearch a,
.haydenresearch strong,
.thomasresearch a,
.thomasresearch strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #0e5f97;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: Raleway;
  font-style: inherit;
  font-size: 2.813em;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: none;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #000000;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span:hover {
  font-size: NaNem;
}

.text-1 a {
  font-style: italic;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

.text-2 a,
.text-3 a,
.text-4 a,
.text-5 a,
.text-6 a,
.text-7 a,
.text-8 a {
  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
}

@media(max-width: 1000px) {
  .container .glennresearch {
    margin-left: 1.875%;
  }

  .container .glenn,
  .container .hayden,
  .container .mingzi,
  .container .thomas {
    height: auto;
  }

  .container .haydenresearch {
    margin-left: 1.77973%;
  }

  .container .kerry {
    height: auto;
    margin-left: -0.00191%;
  }

  .container .kerryresearch {
    margin-left: 2.43712%;
  }

  .container .menu {
    top: 130px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .mingziresearch {
    margin-left: 2.19579%;
  }

  .container .thomasresearch {
    margin-left: 1.99886%;
  }

  .container .element-1 {
    position: relative;
    z-index: 27;
    margin-left: 8.32969%;
  }

  .container .element-2 {
    margin-top: 115px;
  }

  .container .element-3 {
    margin-top: 11px;
    margin-left: 9%;
  }

  .container .element-4 {
    margin-top: 55px;
  }

  .container .text-1 {
    position: relative;
    z-index: 26;
    margin-left: 0.89063%;
  }

  .container-2 {
    position: relative;
    z-index: 14;
    margin-top: 228px;
  }

  .container-3 {
    position: relative;
    z-index: 11;
    width: 81.8328125%;
    margin-top: 50px;
  }

  .container-4 {
    position: relative;
    z-index: 8;
    margin-top: 88px;
  }

  .container-5 {
    position: relative;
    z-index: 5;
  }

  .container-6 {
    position: relative;
    z-index: 2;
  }

  .menu .text-2 {
    margin-left: 2.11765%;
  }

  .menu .text-6 {
    margin-left: 3.52574%;
  }

  .menu .text-3,
  .menu .text-4,
  .menu .text-5,
  .menu .text-7,
  .menu .text-8 {
    margin-left: 3.64706%;
  }

  .text span {
    font-size: 2.813em;
  }
}

@media(max-width: 850px) {
  body {
    font-size: 1em;
  }

  .container .glennresearch {
    margin-left: 1.90773%;
    font-size: 16px;
  }

  .container .glenn,
  .container .hayden,
  .container .mingzi,
  .container .thomas {
    height: auto;
  }

  .container .haydenresearch {
    margin-left: 1.89876%;
    font-size: 16px;
  }

  .container .kerry {
    width: 18%;
    height: auto;
    margin-left: -0.07622%;
  }

  .container .kerryresearch {
    margin-left: 2.4323%;
    font-size: 16px;
  }

  .container .menu {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .mingziresearch {
    margin-left: 2.45696%;
    font-size: 16px;
  }

  .container .thomasresearch {
    margin-left: 2.05793%;
    font-size: 16px;
  }

  .menu .text {
    font-size: 1em;
  }

  .container .element-1 {
    position: relative;
    z-index: 27;
    margin-left: 8.3272099999%;
  }

  .container .text-1 {
    position: relative;
    z-index: 26;
    margin-left: 0.88971%;
    font-size: 1em;
  }

  .container-2 {
    position: relative;
    z-index: 14;
  }

  .container-3 {
    position: relative;
    z-index: 11;
    width: 82%;
  }

  .container-4 {
    position: relative;
    z-index: 8;
    margin-top: 50px;
  }

  .container-5 {
    position: relative;
    z-index: 5;
  }

  .container-6 {
    position: relative;
    z-index: 2;
  }

  .menu .text-2 {
    margin-left: 2.11289%;
  }

  .menu .text-6 {
    margin-left: 3.52509%;
  }

  .menu .text-3,
  .menu .text-4,
  .menu .text-5,
  .menu .text-7,
  .menu .text-8 {
    margin-left: 3.64187%;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 0.688em;
  }

  .container .glennresearch {
    margin-left: 1.01372%;
    font-size: 11px;
  }

  .container .glenn,
  .container .hayden,
  .container .mingzi,
  .container .thomas {
    height: auto;
  }

  .container .haydenresearch {
    margin-left: 1.89787%;
    font-size: 11px;
  }

  .container .kerry {
    height: auto;
    margin-left: 0;
  }

  .container .kerryresearch {
    margin-left: 1.98933%;
    font-size: 11px;
  }

  .container .menu {
    top: 104px;
    left: 42px;
    right: auto;
    width: 86.6%;
  }

  .container .mingziresearch {
    width: 79.7560975609%;
    margin-left: 2.22561%;
    font-size: 11px;
  }

  .container .thomasresearch {
    margin-left: 1.70351%;
    font-size: 11px;
  }

  .menu .text {
    position: relative;
    font-size: 1.455em;
  }

  .container .element-1 {
    position: relative;
    z-index: 27;
    margin-left: 8.32813%;
  }

  .container .element-2 {
    position: relative;
    float: left;
    clear: both;
    z-index: 25;
    margin-top: -19px;
    margin-right: 0;
    margin-left: 5%;
  }

  .container .element-3 {
    position: relative;
    clear: none;
    z-index: 24;
    margin-top: 6px;
    margin-left: 12%;
  }

  .container .element-4 {
    float: left;
    clear: both;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 5%;
  }

  .container .text-1 {
    position: relative;
    z-index: 26;
    margin-left: 0.89375%;
    font-size: 1.455em;
  }

  .container-2 {
    position: relative;
    z-index: 14;
    margin-left: 7%;
  }

  .container-3 {
    position: relative;
    z-index: 11;
    margin-left: 7%;
  }

  .container-4 {
    position: relative;
    z-index: 8;
    margin-left: 7%;
  }

  .container-5 {
    position: relative;
    z-index: 5;
    margin-left: 7%;
  }

  .container-6 {
    position: relative;
    z-index: 2;
    margin-left: 7%;
  }

  .menu .text-2 {
    z-index: 15;
    margin-top: 6px;
    margin-left: 2.76415%;
  }

  .menu .text-3 {
    clear: both;
    z-index: 20;
    margin-top: -22px;
    margin-left: 9.46161%;
  }

  .menu .text-4 {
    z-index: 16;
    margin-top: -22px;
    margin-left: 11.54374%;
  }

  .menu .text-5 {
    z-index: 17;
    margin-top: -22px;
    margin-left: 24.24221%;
  }

  .menu .text-6 {
    z-index: 18;
    margin-top: -22px;
    margin-left: 42.02512%;
  }

  .menu .text-7 {
    z-index: 19;
    margin-top: -22px;
    margin-left: 69.05312%;
  }

  .menu .text-8 {
    z-index: 21;
    margin-top: -22px;
    margin-left: 88.20367%;
  }

  .text span {
    font-size: 1.75em;
  }
}

.slicknav_menu {
display: none;
}
 @media screen and (max-width: 850px) {
.js #menu {
display: none;
}
.js .slicknav_menu {
display: block;
}