body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Montserrat;
  color: rgba(255, 255, 255, 0.75);
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 28;
  width: 100%;
  height: 204px;
  background-color: rgb(255, 255, 255);
}

.menu {
  position: absolute;
  top: 153px;
  left: 0;
  right: 0;
  z-index: 22;
  width: 85%;
  height: 27px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
}

.menu .text {
  margin-top: 2px;
  color: rgba(255, 255, 255, 0.75);
}

.menu .text:hover {
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}

.text {
  float: left;
  font-size: 1em;
}

.element-1 {
  position: relative;
  float: left;
  z-index: 27;
  width: 7.5807291666%;
  height: 84px;
  margin: 20px 0 0 8.33073%;
  background-image: url('../images/singmale.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.element-2 {
  width: 90%;
  height: 2px;
  margin: 134px auto 0;
  background-color: rgb(0, 0, 0);
}

.element-3 {
  float: left;
  clear: both;
  width: 120px;
  height: 2px;
  margin: 14px 0 0 7.5%;
  background-color: rgb(255, 255, 255);
}

.element-4 {
  width: 90%;
  height: 2px;
  margin: 58px auto 0;
  background-color: rgb(0, 0, 0);
}

.element-5 {
  position: relative;
  float: left;
  z-index: 0;
  width: 120px;
  height: 145px;
  margin: 241px 0 0 8%;
  background: url('../images/kerr(2).jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.element-6 {
  position: relative;
  float: right;
  z-index: 1;
  width: 120px;
  height: 145px;
  margin: 49px 8% 0 0;
  background: url('../images/mingzi(4).jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left top;
}

.element-7 {
  position: relative;
  float: left;
  clear: both;
  z-index: 2;
  width: 120px;
  height: 145px;
  margin: 25px 0 0 8.58073%;
  background: url('../images/Thomas(2).jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left top;
}

.element-8 {
  position: relative;
  float: right;
  z-index: 3;
  width: 120px;
  height: 145px;
  margin: 50px 8% 0 0;
  background: url('../images/glenn(2).jpeg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.element-9 {
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  width: 120px;
  height: 145px;
  margin: 25px 0 0 8.58073%;
  background: url('../images/hayden_square(2).jpg') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.text-1 {
  position: relative;
  z-index: 26;
  margin: 35px 0 0 0.96875%;
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.text-10 {
  position: relative;
  z-index: 9;
  width: 62%;
  min-height: 145px;
  margin: -145px 0 0 1%;
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.text-11 {
  position: relative;
  z-index: 11;
  width: 62%;
  min-height: 145px;
  margin: 49px 0 0 1%;
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.text-12 {
  position: relative;
  clear: both;
  z-index: 5;
  width: 10.4166666666%;
  min-height: 25px;
  margin-left: 81.58203%;
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.text-13 {
  position: relative;
  z-index: 12;
  width: 62%;
  min-height: 145px;
  margin: 25px 0 0 1%;
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.text-14 {
  position: relative;
  clear: both;
  z-index: 6;
  width: 10%;
  min-height: 25px;
  margin-left: 8.58073%;
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.text-15 {
  position: relative;
  z-index: 13;
  width: 62%;
  min-height: 145px;
  margin: 50px 0 0 1%;
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.text-16 {
  position: relative;
  clear: both;
  z-index: 7;
  width: 10%;
  min-height: 25px;
  margin-left: 82%;
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.text-17 {
  position: relative;
  z-index: 14;
  width: 62%;
  min-height: 145px;
  margin: 25px 0 0 1%;
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.text-18 {
  position: relative;
  clear: both;
  z-index: 8;
  width: 10%;
  min-height: 25px;
  margin-left: 8.58073%;
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.text-2 {
  margin-left: 2.05576%;
}

.text-6 {
  margin-left: 3.62592%;
}

.text-3,
.text-4,
.text-5,
.text-7,
.text-8 {
  margin-left: 3.52788%;
}

.text-9 {
  position: relative;
  clear: both;
  z-index: 10;
  width: 10%;
  min-height: 25px;
  margin: -1px 0 0 8%;
  font-family: Helvetica;
  color: rgb(0, 0, 0);
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: Raleway;
  font-style: inherit;
  font-size: 2.813em;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: none;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #000000;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span:hover {
  font-size: NaNem;
}

.text-1 a {
  font-style: italic;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}

.text-2 a,
.text-3 a,
.text-4 a,
.text-5 a,
.text-6 a,
.text-7 a,
.text-8 a {
  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
}

@media(max-width: 1000px) {
  .container .menu {
    top: 130px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container .element-1 {
    position: relative;
    z-index: 27;
    margin-left: 8.32969%;
  }

  .container .element-2 {
    position: relative;
    z-index: 25;
    margin-top: 115px;
  }

  .container .element-3 {
    margin-top: 11px;
    margin-left: 9%;
  }

  .container .element-4 {
    position: relative;
    z-index: 23;
    margin-top: 55px;
  }

  .container .text-1 {
    position: relative;
    z-index: 26;
  }

  .element-5 {
    position: relative;
    z-index: 0;
    margin-top: 240px;
    margin-left: 10.3%;
  }

  .element-6 {
    position: relative;
    z-index: 1;
    margin-top: 70px;
    background-position: center center;
  }

  .element-7 {
    position: relative;
    z-index: 2;
    margin-left: 10.3%;
    background-position: center center;
  }

  .element-8 {
    position: relative;
    z-index: 3;
    margin-top: 61px;
    margin-right: 8.29688%;
  }

  .element-9 {
    position: relative;
    z-index: 4;
    margin-left: 10%;
  }

  .menu .text-2 {
    margin-left: 2.11765%;
  }

  .menu .text-6 {
    margin-left: 3.52757%;
  }

  .menu .text-3,
  .menu .text-4,
  .menu .text-5,
  .menu .text-7,
  .menu .text-8 {
    margin-left: 3.64706%;
  }

  .text-10 {
    position: relative;
    z-index: 9;
    width: 55.5%;
    margin-left: 3.3%;
  }

  .text-11 {
    position: relative;
    z-index: 11;
    width: 54.7%;
    margin-top: 70px;
    margin-left: 3.3%;
  }

  .text-12 {
    position: relative;
    z-index: 5;
    width: 10.415625%;
    margin-left: 81.58281%;
  }

  .text-13 {
    position: relative;
    z-index: 12;
    width: 55.5%;
  }

  .text-14 {
    position: relative;
    z-index: 6;
    margin-left: 10.29688%;
  }

  .text-15 {
    position: relative;
    z-index: 13;
    width: 55.8%;
    margin-top: 61px;
    margin-left: 2.70625%;
  }

  .text-16 {
    position: relative;
    z-index: 7;
    margin-left: 79.70313%;
  }

  .text-17 {
    position: relative;
    z-index: 14;
    width: 55.8%;
    margin-top: 39px;
  }

  .text-18 {
    position: relative;
    z-index: 8;
    margin-top: -25px;
    margin-left: 10%;
  }

  .text-9 {
    position: relative;
    z-index: 10;
    margin-top: 13px;
    margin-left: 10%;
  }

  .text span {
    font-size: 2.813em;
  }
}

@media(max-width: 750px) {
  body {
    font-size: 1em;
  }

  .container .menu {
    top: 153px;
    left: 0;
    right: auto;
    width: 13.9979166666%;
    height: 254px;
  }

  .container .element-1 {
    position: relative;
    z-index: 27;
    margin-left: 8.32917%;
  }

  .container .element-2 {
    position: relative;
    float: left;
    clear: both;
    z-index: 25;
    margin-top: -4px;
    margin-right: 0;
    margin-left: 5%;
  }

  .container .element-3 {
    clear: none;
    margin-top: 14px;
    margin-left: 12%;
  }

  .container .element-4 {
    position: relative;
    float: left;
    clear: both;
    z-index: 23;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 5%;
  }

  .container .text-1 {
    position: relative;
    z-index: 26;
    margin-top: 20px;
    margin-left: 0.89167%;
  }

  .element-5 {
    position: relative;
    z-index: 0;
    margin-top: 241px;
    margin-left: 8%;
  }

  .element-6 {
    position: relative;
    z-index: 1;
    margin-top: 40px;
    margin-right: 7.6%;
  }

  .element-7 {
    position: relative;
    z-index: 2;
    margin-top: 16px;
    margin-left: 8%;
  }

  .element-8 {
    position: relative;
    z-index: 3;
    margin-top: 40px;
    margin-right: 7.6%;
  }

  .element-9 {
    position: relative;
    z-index: 4;
    margin-top: 12px;
    margin-left: 8%;
  }

  .menu .text-2 {
    position: relative;
    z-index: 15;
    margin-top: 12px;
    margin-left: 2.9022199999%;
  }

  .menu .text-3 {
    position: relative;
    z-index: 20;
    margin-left: 6.0128%;
  }

  .menu .text-6 {
    clear: both;
    margin-top: 7px;
    margin-left: 2.9022199999%;
  }

  .menu .text-4,
  .menu .text-5,
  .menu .text-7,
  .menu .text-8 {
    clear: both;
    margin-top: 8px;
    margin-left: 2.9022199999%;
  }

  .text-10 {
    position: relative;
    z-index: 9;
    width: 50.4%;
    margin-left: 7.06667%;
  }

  .text-11 {
    position: relative;
    z-index: 11;
    width: 50.4%;
    margin-top: 40px;
    margin-left: 7.06667%;
  }

  .text-12 {
    position: relative;
    z-index: 5;
    width: 10.4166666666%;
    margin-left: 76.4%;
  }

  .text-13 {
    position: relative;
    z-index: 12;
    width: 50.4%;
    margin-top: 16px;
    margin-left: 1.06667%;
  }

  .text-14 {
    position: relative;
    z-index: 6;
    width: 9.9979166666%;
    margin-left: 8%;
  }

  .text-15 {
    position: relative;
    z-index: 13;
    width: 50.4%;
    margin-top: 40px;
    margin-left: 7.06875%;
  }

  .text-16 {
    position: relative;
    z-index: 7;
    width: 9.9979166666%;
    margin-left: 76.4%;
  }

  .text-17 {
    position: relative;
    z-index: 14;
    width: 50.4%;
    margin-top: 12px;
    margin-left: 1.06667%;
  }

  .text-18 {
    position: relative;
    z-index: 8;
    width: 9.9979166666%;
    margin-top: 0;
    margin-left: 8%;
  }

  .text-9 {
    position: relative;
    z-index: 10;
    margin-top: 0;
    margin-left: 8%;
  }

  .text span {
    font-size: 2.375em;
  }
}

@media(max-width: 500px) {
  .container .menu {
    width: 13.996875%;
  }

  .container .element-1 {
    position: relative;
    z-index: 27;
    margin-left: 8.32813%;
  }

  .container .element-2 {
    position: relative;
    z-index: 25;
    margin-top: -19px;
  }

  .container .element-3 {
    margin-top: 6px;
  }

  .container .element-4 {
    position: relative;
    z-index: 23;
  }

  .container .text-1 {
    position: relative;
    z-index: 26;
    margin-left: 0.89375%;
  }

  .element-5 {
    position: relative;
    z-index: 0;
  }

  .element-6 {
    position: relative;
    clear: both;
    z-index: 1;
    margin-top: -145px;
    margin-right: 8%;
  }

  .element-7 {
    position: relative;
    z-index: 2;
    margin-top: 29px;
  }

  .element-8 {
    position: relative;
    float: left;
    z-index: 3;
    margin-top: 21px;
    margin-right: 0;
    margin-left: 1.8%;
  }

  .element-9 {
    position: relative;
    z-index: 4;
    margin-top: 5px;
  }

  .menu .text-2 {
    position: relative;
    z-index: 15;
    margin-left: 2.88011%;
  }

  .menu .text-3 {
    position: relative;
    clear: both;
    z-index: 20;
    margin-left: 5.98348%;
  }

  .menu .text-4,
  .menu .text-5,
  .menu .text-6,
  .menu .text-7,
  .menu .text-8 {
    margin-left: 2.88011%;
  }

  .text-10 {
    position: relative;
    z-index: 9;
    width: 59.4%;
    margin-left: 14.6%;
  }

  .text-11 {
    position: relative;
    float: right;
    clear: both;
    z-index: 11;
    width: 56.2%;
    margin-top: 24px;
    margin-right: 33.8%;
    margin-left: 0;
  }

  .text-12 {
    position: relative;
    z-index: 5;
    width: 10.415625%;
    margin-left: 68%;
  }

  .text-13 {
    position: relative;
    z-index: 12;
    width: 58.4%;
    margin-top: 24px;
    margin-left: 1.6%;
  }

  .text-14 {
    position: relative;
    z-index: 6;
    width: 10%;
    margin-top: -5px;
  }

  .text-15 {
    position: relative;
    clear: both;
    z-index: 13;
    width: 58.2%;
    margin-top: 21px;
    margin-left: 8%;
  }

  .text-16 {
    position: relative;
    z-index: 7;
    width: 10%;
    margin-top: 5px;
    margin-left: 68%;
  }

  .text-17 {
    position: relative;
    z-index: 14;
    width: 57.4%;
    margin-top: 5px;
    margin-left: 3.6%;
  }

  .text-18 {
    position: relative;
    z-index: 8;
    width: 10%;
  }

  .text-9 {
    position: relative;
    z-index: 10;
  }

  .text span {
    font-size: 1.75em;
  }
}

.slicknav_menu {
display: none;
}
 @media screen and (max-width: 750px) {
.js #menu {
display: none;
}
.js .slicknav_menu {
display: block;
}