body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.currentjob {
  float: left;
  clear: both;
  margin: 5px 0 0 10%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.cv {
  float: left;
  margin: 3px 0 0 2.59651%;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.75);
}

.cv:hover,
.home:hover,
.publications:hover,
.research:hover {
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 144px;
  background-color: rgb(255, 255, 255);
}

.home {
  float: left;
  margin: 3px 0 0 5%;
  border-radius: 5px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.75);
}

.homeimage {
  position: relative;
  z-index: 1;
  width: 80%;
  height: 167px;
  margin: 206px auto 0;
  background: url('../images/landingimg(2).png') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.homeimage:hover {
  border: 1px solid rgb(0, 57, 204);
  background-color: rgb(255, 255, 255);
}

.imagecredits {
  position: relative;
  float: left;
  clear: both;
  z-index: 0;
  width: 72.1666666666%;
  min-height: 133px;
  margin: 47px 0 0 10%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.imagecredits p {
  margin-bottom: 1em;
}

.menu {
  float: left;
  clear: both;
  width: 85%;
  height: 27px;
  min-height: 10px;
  margin: 15px 0 0 90px;
  background-color: rgba(0, 0, 0, 0.75);
}

.publications {
  float: left;
  margin: 3px 0 0 2.7451%;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.75);
}

.research {
  float: left;
  margin: 3px 0 0 3.35325%;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.75);
}

.slicknavhandle {
  float: left;
  clear: both;
  width: 120px;
  height: 2px;
  margin: 4px 0 0 7.5%;
  background-color: rgb(255, 255, 255);
}

.thomas {
  float: left;
  margin: 25px 0 0 10%;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.cv a,
.home a,
.publications a,
.research a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-shadow: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.imagecredits a,
.imagecredits em,
.imagecredits span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.imagecredits strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 850px) {
  .header .menu {
    margin-top: 40px;
    margin-left: 63px;
  }

  .homeimage {
    position: relative;
    float: left;
    z-index: 1;
    width: 76.5%;
    margin-right: 0;
    margin-left: 0;
  }

  .imagecredits {
    position: relative;
    z-index: 0;
    width: 72.1654411764%;
  }

  .menu .cv {
    margin-left: 9.10251%;
  }

  .menu .publications {
    margin-left: 4.75779%;
  }

  .menu .research {
    margin-left: 3.35424%;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 1em;
  }

  .header .menu {
    width: 20%;
    height: 150px;
    margin-top: 18px;
    margin-left: 50px;
  }

  .header .slicknavhandle {
    margin-left: 10%;
  }

  .homeimage {
    position: relative;
    z-index: 1;
    width: 85.159375%;
  }

  .imagecredits {
    position: relative;
    z-index: 0;
    width: 72.165625%;
  }

  .menu .cv,
  .menu .publications {
    clear: both;
    margin-left: 0;
  }

  .menu .home {
    margin-left: 0;
  }

  .menu .research {
    clear: both;
    margin-top: 1px;
    margin-left: 0;
  }
}

.slicknav_menu {
display: none;
}
 @media screen and (max-width: 500px) {
.js #menu {
display: none;
}
.js .slicknav_menu {
display: block;
}
