body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Nobile;
  color: rgb(0, 0, 0);
}

.female {
  position: relative;
  float: left;
  z-index: 2;
  width: 46.0526315789%;
  height: 96px;
  margin-left: 7.89474%;
  background: url('../images/female_laupala.jpg') rgb(222, 222, 222);
  background-size: cover;
  background-position: left top;
}

.fig1 {
  float: left;
  clear: both;
  width: 25.3333333333%;
  height: 261px;
  margin: 56px 0 0 10%;
}

.fig1legend {
  float: left;
  clear: both;
  width: 100%;
  min-height: 88px;
  margin-top: 21px;
  font-size: 0.75em;
  text-align: justify;
  color: rgb(0, 0, 0);
}

.intro {
  float: left;
  clear: both;
  width: 80%;
  min-height: 67px;
  margin: 45px 0 0 10%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.male {
  position: relative;
  float: left;
  z-index: 1;
  width: 46.0526315789%;
  height: 96px;
  background: url('../images/male.png') rgb(222, 222, 222);
  background-size: cover;
  background-position: left top;
}

.menu_bar {
  float: left;
  width: 100%;
  height: 50px;
  margin-top: 25px;
  background-color: rgb(0, 0, 0);
}

.text-1 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  float: left;
  width: 11.6666666666%;
  height: 32px;
  margin-top: 7px;
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  font-size: 1.375em;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 254, 254);
}

._button:hover {
  color: rgb(0, 106, 255);
}

._text {
  float: left;
  clear: both;
  width: 80%;
  min-height: 246px;
  margin: 55px 0 0 10%;
  font-size: 1em;
  text-align: justify;
  color: rgb(0, 0, 0);
}

.menu_bar ._button-1 {
  margin-left: 10%;
}

.menu_bar ._button-2,
.menu_bar ._button-3,
.menu_bar ._button-4,
.menu_bar ._button-5,
.menu_bar ._button-6 {
  margin-left: 2%;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 480px) {
  .element {
    position: fixed;
  }

  .fig1 {
    position: relative;
    z-index: 4;
    width: 78.3333333333%;
    margin-top: 10px;
    margin-left: 17.4121099999%;
  }

  .fig1 .female {
    position: relative;
    z-index: 2;
    margin-left: 7.84574%;
  }

  .fig1 .male {
    position: relative;
    z-index: 1;
  }

  .intro {
    position: relative;
    z-index: 5;
    margin-top: 10px;
    margin-left: 17.4121099999%;
  }

  .menu_bar {
    float: none;
    top: 5px;
    left: 1.9986979166%;
    width: 12.7083333333%;
    height: 175px;
    margin-top: 0;
  }

  ._text {
    position: relative;
    clear: none;
    z-index: 0;
    margin-top: 10px;
    margin-left: 17.4121099999%;
  }

  .menu_bar ._button {
    position: relative;
    width: 101.0416666666%;
    margin-left: -1.02459%;
    font-size: 0.75em;
  }

  .menu_bar ._button-1 {
    z-index: 6;
  }

  .menu_bar ._button-2 {
    clear: both;
    z-index: 7;
    margin-top: -6px;
  }

  .menu_bar ._button-3 {
    clear: both;
    z-index: 8;
    margin-top: -7px;
  }

  .menu_bar ._button-4 {
    clear: both;
    z-index: 9;
    margin-top: -6px;
  }

  .menu_bar ._button-5 {
    clear: both;
    z-index: 10;
    margin-top: -7px;
  }

  .menu_bar ._button-6 {
    clear: both;
    z-index: 11;
    margin-top: -6px;
  }
}