body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Nobile;
  color: rgb(0, 0, 0);
}

.female {
  position: relative;
  float: left;
  z-index: 2;
  width: 46.0526315789%;
  height: 96px;
  margin-left: 7.89474%;
  background: url('../images/female_laupala.jpg') rgb(222, 222, 222);
  background-size: cover;
  background-position: left top;
}

.fig1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  width: 25.3333333333%;
  height: 261px;
  margin: 56px 0 0 10%;
}

.fig1legend {
  float: left;
  clear: both;
  width: 100%;
  min-height: 88px;
  margin-top: 21px;
  font-size: 0.75em;
  text-align: justify;
  color: rgb(0, 0, 0);
}

.intro {
  position: relative;
  float: left;
  clear: both;
  z-index: 5;
  width: 80%;
  min-height: 67px;
  margin: 45px 0 0 10%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.male {
  position: relative;
  float: left;
  z-index: 1;
  width: 46.0526315789%;
  height: 96px;
  background: url('../images/male.png') rgb(222, 222, 222);
  background-size: cover;
  background-position: left top;
}

.menu_bar {
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 13;
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 0);
}

.text-2 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  float: left;
  width: 11.6666666666%;
  height: 32px;
  margin-top: 7px;
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  font-size: 1.375em;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 254, 254);
}

._button:hover {
  color: rgb(0, 106, 255);
}

._text {
  color: rgb(0, 0, 0);
}

.text-1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  min-height: 59px;
  background-color: rgb(255, 255, 255);
  font: 700 1.5em/2 Oswald;
  text-align: center;
}

.text-2 {
  position: relative;
  float: left;
  z-index: 0;
  width: 80%;
  min-height: 246px;
  margin: 130px 0 0 10%;
  font-size: 1em;
  text-align: justify;
}

.menu_bar ._button-1 {
  margin-left: 10%;
}

.menu_bar ._button-2,
.menu_bar ._button-3,
.menu_bar ._button-4,
.menu_bar ._button-5,
.menu_bar ._button-6 {
  margin-left: 2%;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 900px) {
  .fig1 {
    position: relative;
    z-index: 4;
    width: 39%;
    margin-top: 24px;
  }

  .fig1 .female {
    position: relative;
    z-index: 2;
    margin-left: 7.88818%;
  }

  .fig1 .male {
    position: relative;
    z-index: 1;
  }

  .intro {
    position: relative;
    z-index: 5;
    margin-top: 29px;
  }

  .menu_bar {
    top: 41px;
    height: 39px;
  }

  .menu_bar ._button {
    position: relative;
    font-size: 0.875em;
  }

  .text-2 {
    position: relative;
    z-index: 0;
    width: 88.1111111111%;
    margin-top: 100px;
  }

  .menu_bar ._button-1 {
    z-index: 7;
  }

  .menu_bar ._button-2 {
    z-index: 8;
  }

  .menu_bar ._button-3 {
    z-index: 9;
  }

  .menu_bar ._button-4 {
    z-index: 10;
  }

  .menu_bar ._button-5 {
    z-index: 11;
  }

  .menu_bar ._button-6 {
    z-index: 12;
  }
}

@media(max-width: 480px) {
  body {
    font-size: 1em;
  }

  .fig1 {
    position: relative;
    z-index: 4;
    width: 72.0833333333%;
    margin-top: 10px;
    margin-left: 23.75%;
  }

  .fig1 .female {
    position: relative;
    z-index: 2;
    margin-left: 7.8396%;
  }

  .fig1 .male {
    position: relative;
    z-index: 1;
  }

  .intro {
    position: relative;
    float: right;
    z-index: 5;
    width: 75%;
    margin-top: 10px;
    margin-right: 1.9987%;
    margin-left: 0;
  }

  .menu_bar {
    top: 60px;
    left: 1.2467447916%;
    width: 17.9166666666%;
    height: 175px;
    border-radius: 5px;
  }

  .menu_bar ._button {
    position: relative;
    width: 93.4426229508%;
    margin-left: 3.17951%;
    font-size: 0.75em;
  }

  .text-2 {
    position: relative;
    float: right;
    z-index: 0;
    width: 75%;
    margin-top: 60px;
    margin-right: 1.9987%;
    margin-left: 0;
  }

  .menu_bar ._button-1 {
    z-index: 7;
  }

  .menu_bar ._button-2 {
    clear: both;
    z-index: 8;
    margin-top: -6px;
  }

  .menu_bar ._button-3 {
    clear: both;
    z-index: 9;
    margin-top: -7px;
  }

  .menu_bar ._button-4 {
    clear: both;
    z-index: 10;
    margin-top: -6px;
  }

  .menu_bar ._button-5 {
    clear: both;
    z-index: 11;
    margin-top: -7px;
  }

  .menu_bar ._button-6 {
    clear: both;
    z-index: 12;
    margin-top: -6px;
  }
}

@media(max-width: 230px) {
  .element {
    width: 29.5652173913%;
  }

  .fig1 {
    position: relative;
    z-index: 4;
    width: 80%;
    margin-left: 17.37772%;
  }

  .fig1 .female {
    position: relative;
    clear: both;
    z-index: 2;
    width: 46.1956521739%;
    height: 56px;
    margin-top: -56px;
    margin-left: 56.60666%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: rgb(255, 255, 255);
  }

  .fig1 .fig1legend {
    clear: none;
    width: 82.6086956521%;
    margin-left: 17.36583%;
    font-size: 0.5em;
  }

  .fig1 .male {
    position: relative;
    z-index: 1;
    width: 46.1956521739%;
    height: 56px;
    margin-top: 40px;
    margin-left: 13.04348%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: rgb(255, 255, 255);
  }

  .intro {
    position: relative;
    z-index: 5;
    width: 67.995923913%;
    margin-right: 1.99049%;
  }

  .menu_bar ._button {
    position: relative;
    margin-left: 3.17096%;
  }

  .text-2 {
    position: relative;
    z-index: 0;
    width: 68%;
    margin-right: 1.99049%;
    text-align: center;
  }

  .menu_bar ._button-1 {
    z-index: 7;
  }

  .menu_bar ._button-2 {
    z-index: 8;
  }

  .menu_bar ._button-3 {
    z-index: 9;
  }

  .menu_bar ._button-4 {
    z-index: 10;
  }

  .menu_bar ._button-5 {
    z-index: 11;
  }

  .menu_bar ._button-6 {
    z-index: 12;
  }
}