body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Montserrat;
  color: rgb(0, 0, 0);
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 22;
  width: 100%;
  height: 204px;
  background-color: rgb(255, 255, 255);
}

.image {
  display: block;
  position: relative;
  z-index: 4;
  width: 40%;
  height: auto;
  margin: 25px auto 0;
  overflow: hidden;
}

.menu {
  position: absolute;
  top: 153px;
  left: 0;
  right: 0;
  z-index: 16;
  width: 85%;
  height: 27px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
}

.menu .text {
  float: left;
  margin-top: 2px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.75);
}

.menu .text:hover {
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}

.element-1 {
  position: relative;
  float: left;
  z-index: 21;
  width: 7.5807291666%;
  height: 84px;
  margin: 20px 0 0 8.33073%;
  background-image: url('../images/singmale.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.element-2 {
  width: 90%;
  height: 2px;
  margin: 134px auto 0;
  background-color: rgb(0, 0, 0);
}

.element-3 {
  float: left;
  clear: both;
  width: 120px;
  height: 2px;
  margin: 14px 0 0 7.5%;
  background-color: rgb(255, 255, 255);
}

.element-4 {
  width: 90%;
  height: 2px;
  margin: 58px auto 0;
  background-color: rgb(0, 0, 0);
}

.text-1 {
  position: relative;
  float: left;
  z-index: 20;
  margin: 35px 0 0 0.96875%;
  font-family: Helvetica;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-10 {
  position: relative;
  z-index: 7;
  width: 80%;
  height: 44px;
  margin: 330px auto 0;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-11 {
  position: relative;
  z-index: 6;
  width: 80%;
  margin: 20px auto 0;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-12 {
  position: relative;
  z-index: 5;
  width: 80%;
  height: 44px;
  margin: 25px auto 0;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-13 {
  position: relative;
  z-index: 3;
  width: 80%;
  margin: 25px auto 0;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-14 {
  position: relative;
  z-index: 2;
  width: 80%;
  margin: 25px auto 0;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-15 {
  position: relative;
  z-index: 1;
  width: 80%;
  height: 44px;
  margin: 25px auto 0;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-16 {
  position: relative;
  z-index: 0;
  width: 80%;
  margin: 25px auto 0;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-2 {
  margin-left: 2.05729%;
}

.text-4 {
  margin-left: 3.62592%;
}

.text-3,
.text-5,
.text-6,
.text-7 {
  margin-left: 3.52788%;
}

.text-8 {
  margin-left: 3.52175%;
}

.text-9 {
  position: relative;
  float: left;
  z-index: 8;
  width: 346px;
  height: 85px;
  margin: 220px 0 0 8%;
  font-size: 2em;
  color: rgb(0, 0, 0);
}

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-style: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 a {
  font-style: italic;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
  color: inherit;
}

.text-1 span {
  font-family: Raleway;
  font-size: 2.813em;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.text-1 span:hover {
  font-size: NaNem;
}

.text-10 a {
  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  color: rgb(0, 94, 245);
}

.text-10 span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  color: inherit;
}

.text-10 span:hover {
  font-style: normal;
  font-weight: inherit;
  text-decoration: none;
}

.text-2 a,
.text-3 a,
.text-4 a,
.text-5 a,
.text-6 a,
.text-7 a,
.text-8 a {
  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  color: inherit;
}

@media(max-width: 1000px) {
  .container .menu {
    top: 130px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .image {
    position: relative;
    z-index: 4;
    height: auto;
  }

  .container .element-1 {
    position: relative;
    z-index: 21;
    margin-left: 8.32969%;
  }

  .container .element-2 {
    position: relative;
    z-index: 19;
    margin-top: 115px;
  }

  .container .element-3 {
    margin-top: 11px;
    margin-left: 9%;
  }

  .container .element-4 {
    position: relative;
    z-index: 17;
    margin-top: 55px;
  }

  .container .text-1 {
    position: relative;
    z-index: 20;
  }

  .menu .text-2 {
    margin-left: 2.11765%;
  }

  .menu .text-4 {
    margin-left: 3.52941%;
  }

  .menu .text-3,
  .menu .text-5,
  .menu .text-6,
  .menu .text-7 {
    margin-left: 3.64706%;
  }

  .menu .text-8 {
    margin-left: 3.59559%;
  }

  .text-10 {
    position: relative;
    z-index: 7;
  }

  .text-11 {
    position: relative;
    z-index: 6;
  }

  .text-12 {
    position: relative;
    z-index: 5;
  }

  .text-13 {
    position: relative;
    z-index: 3;
  }

  .text-14 {
    position: relative;
    z-index: 2;
  }

  .text-15 {
    position: relative;
    z-index: 1;
  }

  .text-16 {
    position: relative;
    z-index: 0;
  }

  .text-9 {
    position: relative;
    z-index: 8;
  }

  .text-1 span {
    font-size: 2.813em;
  }
}

@media(max-width: 750px) {
  body {
    font-size: 1em;
  }

  .container .menu {
    top: 153px;
    left: 0;
    right: auto;
    width: 13.9979166666%;
    height: 254px;
  }

  .image {
    position: relative;
    z-index: 4;
    height: auto;
  }

  .container .element-1 {
    position: relative;
    z-index: 21;
    margin-left: 8.32917%;
  }

  .container .element-2 {
    position: relative;
    float: left;
    clear: both;
    z-index: 19;
    margin-top: -4px;
    margin-right: 0;
    margin-left: 5%;
  }

  .container .element-3 {
    clear: none;
    margin-top: 14px;
    margin-left: 12%;
  }

  .container .element-4 {
    position: relative;
    float: left;
    clear: both;
    z-index: 17;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 5%;
  }

  .container .text-1 {
    position: relative;
    z-index: 20;
    margin-top: 20px;
    margin-left: 0.89167%;
  }

  .menu .text-2 {
    position: relative;
    z-index: 9;
    margin-top: 12px;
    margin-left: 2.9022199999%;
  }

  .menu .text-3 {
    position: relative;
    z-index: 14;
    margin-left: 6.0128%;
  }

  .menu .text-6 {
    clear: both;
    margin-top: 7px;
    margin-left: 2.9022199999%;
  }

  .menu .text-4,
  .menu .text-5,
  .menu .text-7,
  .menu .text-8 {
    clear: both;
    margin-top: 8px;
    margin-left: 2.9022199999%;
  }

  .text-10 {
    position: relative;
    z-index: 7;
  }

  .text-11 {
    position: relative;
    z-index: 6;
  }

  .text-12 {
    position: relative;
    z-index: 5;
  }

  .text-13 {
    position: relative;
    z-index: 3;
  }

  .text-14 {
    position: relative;
    z-index: 2;
  }

  .text-15 {
    position: relative;
    z-index: 1;
  }

  .text-16 {
    position: relative;
    z-index: 0;
  }

  .text-9 {
    position: relative;
    z-index: 8;
  }

  .text-1 span {
    font-size: 2.375em;
  }
}

@media(max-width: 500px) {
  .container .menu {
    width: 13.996875%;
  }

  .image {
    position: relative;
    z-index: 4;
    height: auto;
    margin-top: 50px;
  }

  .container .element-1 {
    position: relative;
    z-index: 21;
    margin-left: 8.32813%;
  }

  .container .element-2 {
    position: relative;
    z-index: 19;
    margin-top: -19px;
  }

  .container .element-3 {
    margin-top: 6px;
  }

  .container .element-4 {
    position: relative;
    z-index: 17;
  }

  .container .text-1 {
    position: relative;
    z-index: 20;
    margin-left: 0.89375%;
  }

  .menu .text-2 {
    position: relative;
    z-index: 9;
    margin-left: 2.88011%;
  }

  .menu .text-3 {
    position: relative;
    clear: both;
    z-index: 14;
    margin-left: 5.98348%;
  }

  .menu .text-4,
  .menu .text-5,
  .menu .text-6,
  .menu .text-7,
  .menu .text-8 {
    margin-left: 2.88011%;
  }

  .text-10 {
    position: relative;
    z-index: 7;
  }

  .text-11 {
    position: relative;
    z-index: 6;
    margin-top: 45px;
  }

  .text-12 {
    position: relative;
    z-index: 5;
  }

  .text-13 {
    position: relative;
    z-index: 3;
  }

  .text-14 {
    position: relative;
    z-index: 2;
  }

  .text-15 {
    position: relative;
    z-index: 1;
  }

  .text-16 {
    position: relative;
    z-index: 0;
    margin-top: 50px;
  }

  .text-9 {
    position: relative;
    z-index: 8;
  }

  .text-1 span {
    font-size: 1.75em;
  }
}

.slicknav_menu {
display: none;
}
 @media screen and (max-width: 750px) {
.js #menu {
display: none;
}
.js .slicknav_menu {
display: block;
}